* {
    padding: 0;
    margin: 0;
}

/* =========== Presets =========== */


/* =========== Header =========== */


/* =========== Message From Top =========== */
header{
    width: 100%;
    float: left;
}
header .msg-top {
    width: 100%;
    float: left;
    background-color: rgb(64, 64, 64);
}
header .msg-top picture{
    width: 100%;
    float: left;
}
header .msg-top picture source, img{
    display: block;
    margin: 0 auto;
}
header .search{
    width: 100%;
    float: left;
    background-color: #fd0;
}

/* =========  // Message From Top ========= */

/* ========= // Header ========= */