* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.menu-item-bold{
    font-weight: bold !important;
    text-transform: uppercase;
}
.responsive-br{
    display: none;
}
/* =========== Presets =========== */

/* =========== Header =========== */
header{
    float: left;
    width: 100%;
}
/* =========== Message From Top =========== */
header .msg-top {
    background-color: rgb(64, 64, 64);
    float: left;
    width: 100%;
}
header .msg-top picture{
    float: left;
    width: 100%;
}
header .msg-top picture source, img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
/* =========  // Message From Top ========= */

/* =========  Search Bar ========= */
header .search{
    background-color: #fd0;
    float: left;
    width: 100%;
}
/* =========== Responsive Menu =========== */
header .search .responsive-menu{
    display: none;
}
/* =========== //Responsive Menu =========== */
/* =========  Search Logo ========= */
header .search .logo-top{
    float: left;
    padding: 1% 1.5% 1% 0.5%;
    width: 16%;
}
header .search .logo-top a{
    float: left;
}
header .search .logo-top a img{
    width: 100%;
}
/* ========= // Search Logo ========= */

/* ========= Search ========= */
header .search .search-bar{
    float: left;
    width: 46%;
}
header .search .search-bar .search-txt{
    float: left;
    position: relative;
    width: 100%;
}
header .search .search-bar .search-txt input{
    border: none;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    margin: 2% 0 2%;
    padding: 10px 0 10px 10px;
    width: 100%;
}

header .search .search-bar .search-txt span{
    position: absolute;
    top: 30%;
    right: -1%;
}
header .search .search-bar .search-txt span img{
    width: 40%;
}
/* ========= // Search ========= */

/* ========= Search Links ========= */
header .search nav{
    float: left;
    width:38%;
}
header .search nav ul{
    float: left;
    width: 100%;
}
header .search nav ul .img-avatar{
    float: left; 
    width: 70%;
}
header .search nav ul .img-avatar img{
    float: left;
    margin: 5% 0 0 30%;
    width: 8%;
}
header .search nav ul .img-avatar span a {
    color: black;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    margin: 5% 0 0 2%;
    text-decoration: none;
    width: calc(93% - 70%);
}
header .search nav ul .img-heart{
    float: left; 
    width: 15%;
}
header .search nav ul .img-heart img{
    float: right;
    margin: 20% 25% 0 0 ;
    width: 35%;
}
header .search nav ul .img-car{
    float: right; 
    width: 15%;
}
header .search nav ul .img-car img{
    float: right;
    margin: 20% 30% 0 0 ;
    width: 35%;
}
/* ========= // Search Links ========= */

/* =========  Main Menu ========= */
.main-menu {
    float: left;
    margin-left: 10px;
    width: calc(100% - 10px);
}
.main-menu .menu-dropdown{
    float: left;
    position: relative;    
    width: 18%;
    z-index: 2;
}
.main-menu .menu-dropdown .department{
    background-color: #efefef;
    float: left;
    text-decoration: none;
    width: 100%;
}
.main-menu .menu-dropdown:hover ul{
    display: block;
}
.main-menu .menu-dropdown .department p {
    background-color: #efefef;
    color: #24282b;
    display: block;
    font-family: sans-serif;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    padding: 15px;
    text-align: center;
}
.main-menu .menu-dropdown .department img {
    float: left;
    margin: 20px 0 0 2%;
    width: 18px;
}
.main-menu .menu-dropdown .icon-menu {
    float: left;
    height: 26px;
    margin: 20px 0 0 10px;   
    width: 30px;
}
.main-menu .menu-dropdown .line-menu {
    float: left;
    height: 26px;
    margin: 14px 0 0 10px;
    width: 30px;
}
.main-menu .menu-dropdown .line-icon {
    background-color: #14171c;
    float: left;
    height: 1px;
    margin-top: -2px;
    width: 26px;
}
.main-menu .menu-dropdown .lines-icon{
    background-color:  #14171c;
    float: left;
    height: 0.8px;
    margin-top: 7px;
    width: 26px;
}
.main-menu .menu-dropdown .sub-menu{
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
.main-menu .menu-dropdown .sub-menu .sub-title{
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    float: left;
    font-size: 12px;
    width: 100%;
}

.main-menu .menu-dropdown:hover .sub-menu .sub-title:hover div{
    display: block;
}
.main-menu .menu-dropdown .sub-menu .sub-title p{
    font-size: 12px;
    padding: 10px;
}
.main-menu .menu-dropdown .sub-menu .sub-title:hover{
    background-color: #efefef;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items{
    background-color: #efefef;
    display: none;
    float: left;
    left: 100%;
    min-width: 1024px;
    position: absolute;
    top: 0;
} 
.main-menu .menu-dropdown .sub-menu .sub-title .col-items span .items-title{
    color: #1592e6;
    font-size: 15px;
    font-weight: bold;
    padding: 30px 0 20px 15px;
    text-decoration: none;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items span .items-title:hover{
    text-decoration: underline;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul{
    background-color: #efefef;
    float: left;
    height: 318px;
    position: relative;
    top: 0;
    width: 19.5%;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li{
    background-color: transparent;
    border: none;
    padding: 7px 0 0 15px;
    text-align: left;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a{
    color: #1592e6;
    font-size: 8px;
    font-weight: normal;
    text-decoration:none;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a:hover{
    color: #24282b;
    text-decoration: underline;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a p{
    color: #24282b;
    font-size: 11px;
    font-weight: lighter;
    padding: 0;
}
.main-menu .menu-dropdown .sub-menu .menu-ad{
    float: left;
    width: 20%;
}
.main-menu .menu-dropdown .sub-menu .menu-ad a{
    float: left;
    margin-top: 10px;
}
.main-menu .menu-dropdown .sub-menu .menu-ad a img{
    margin: 0;
    width: 100%;
}
.main-menu .menu-nav{
    float: left;
    width: 82%;
}
.main-menu .menu-nav .nav-left{
    float: left;
    width: 50%;
}
.main-menu .menu-nav .nav-left li{
    float: left;
    width: 15%;
}
.main-menu .menu-nav .nav-left li a{
    color: #24282b;
    display: block;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding: 26% 0;
    text-decoration: none;
}
.main-menu .menu-nav .nav-left li a:hover{
    text-decoration: underline;
}
.main-menu .menu-nav .nav-right{
    float: left;
    width: 50%;
}
.main-menu .menu-nav .nav-right ul{
    float: right;
    width: 48%;
}
.main-menu .menu-nav .nav-right li{
    float: left;
    margin-top: 6%;
}
.main-menu .menu-nav .nav-right li a{
    color: #646464;
    display: block;
    float: left;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.main-menu .menu-nav .nav-right .bullet:before{
    background-color: #d5d5d5;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 4px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 4px;
}
.main-menu .menu-nav .nav-right li a:hover{
    text-decoration: underline;
}

/* ========= // Main Menu ========= */

/* =========  // Search Bar ========= */

/* ========= // Header ========= */
/* ===== Carousel ========= */
.carousels {
    float: left;
    background-color: #f3f3f3;
    padding-bottom: 10px;
}
.carousels img {
    width: 100%;
}
/* ===== Carousel ========= */

/* ======== Anuncio ========= */
.promo-ad img {
    width: 100%;
    float: left;
    padding: 50px 0;
    background-color: #efefef;
}
/* ===== // Anuncio ========= */

/* ======== Form ========= */
.box-form {
    float: left;
    width: calc(100% - 5%);
    margin: 0 0 0 5%;
    padding-top: 10px;
}

.box-form .form-box-title img {
    width: 28px;
    float: left;
    margin-right: 1%;
}
.box-form .form-box-title .form-title {
    font-size: 26px;
    color: #000;
    font-weight: 400;
}
.box-form p {
    margin: 20PX 0 20px 0;
    font-size: 12px;
}
.box-form form select{
    background: linear-gradient(45deg,transparent 50%,#000 0),linear-gradient(135deg,#000 50%,transparent 0),linear-gradient(90deg,#fddd2d,#fddd2d);
    background-position: calc(100% - 21px) calc(1em + 2px),calc(100% - 16px) calc(1em + 2px),100% 0;
    background-size: 5px 5px,5px 5px,2.5em 2.5em;
    background-repeat: no-repeat;
    border: thin solid #fddd2d;
    font: 300 1em/100% Helvetica Neue,Arial,sans-serif;
    line-height: 2em;
    padding: 5px 3px 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 10px;
    width: 15%;
}
.box-form form button {
    background-color: #fddd2d;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
/* ======== // Form ========= */

/* ======== Most Popular ========= */
.most-popular {
    float: left;
    width: 100%;
    background-color: #efefef;
    padding-bottom: 10px;
}
.most-popular .most-title{
    font-weight: lighter;
    font-size: 22px;
    color:#24282b;
    padding: 10px 0 50px 10px;
}
.carousels{background-color: #fff;}
.card {
    float: left;
    margin-top: 50px;
    border-left: 1px solid #efefef;
}
.card .card-title{
    width: 100%;
    float: left;
}
.card .card-title p{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 90%;
    margin: 0 auto;
    color: #8fb8fc;
    background-color: rgba(143, 184, 252, 0.1);
    padding: 5px;
}
.card .img-card img{
    display: block;
    margin: 0 auto;
}
.card .txtCard {
    width: 100%;
    float: left;
}
.card .txtCard p{
    font-size: 14px;
    padding: 20px;
    color: #292d30;
    font-weight: bold;
}
.card .txtCard img{
    display: block;
    margin: 0 auto;
}
.card .price-card{
    width: 100%;
    float: left;
}
.card .price-card a{
    text-decoration: none;
}
.card .price-card span{
    margin-left: 5%;
    float: left;
    width: 90%;
}
.card .price-card p{
    background-color: transparent;
    border: 1px solid #24282b;
    border-radius: 5px;
    color: #24282b;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.card .price-card p:hover{
    background-color: #fd0;
    border: 1px solid #fd0;
    cursor: pointer;
    transition: all .3s;
}
/* ======== // Most Popular========= */

/* ======== departments ========= */
.departments{
    width: 100%;
    float: left;
    background-color: #efefef;
    padding-top: 1%;
}
.departments .dep-title {
    float: left;
    width: 100%;
    margin: 50px 0 50px 0;
}
.departments .dep-title .depart-title{
    float: left;
    font-weight: lighter;
    font-size: 25px;
    color: #24282b;
    width: 85%;
    margin-left: 10px;
}
.departments .dep-title a{
    float: right;
    width: 11%;
    text-decoration: none;
    margin-bottom: 2%;
    margin-right: 1%;
}
.departments .dep-title a p{
    padding: 12px 0;
    background-color: gold;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #24282b;
    border-radius: 5px;
}

.departments .dep-bloc{
    float: left;
    margin-left: 10px;
}
/* ======== // departments ========= */
/* ======== Sppecials Themes  ========= */
.themes {
    width: 100%;
    float: left;
    background-color:#efefef;
}
.themes a {
    float: left;
    margin-left: 10px;
}
.themes a img{
    float: left;     
    width: 100%;
}
.themes .themes-title {
    float: left;
    width: 99%;
    margin: 50px 0 50px 10px;
}
.themes .themes-title .title{
    float: left;
    font-weight: lighter;
    font-size: 25px;
    color: #24282b;
    width: 85%;
}
.themes .themes-title a{
    float: right;
    width: 11%;
    text-decoration: none;
    margin-right: 14px;
}
.themes .themes-title a p{
    padding: 12px 0;
    background-color: gold;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #24282b;
    border-radius: 5px;
}
/* ======== // Sppecials Themes  ========= */

/* ======== Benefits  ========= */

/* ======== Frete ========= */
.benefits {
    background-color: #efefef;
    float: left;
    padding: 30px 0 20px 0;
    width: 100%;
}
.benefits .frete{
    float: left;
    padding: 5px 0;
    width: 50%;
}
.benefits .frete .car-frete{
    float: right;
    width: 55%
}
.benefits .frete .car-frete img{
    float: left;
    width: 56px;
}
.benefits .frete .car-frete h2{
    font-size: 10px;
}
.benefits .frete .car-frete p {
    font-size: 11px;
}
/* ======== // Frete ========= */


.benefits .saraiva-plus{
    border-left: 1px solid #d5d5d5;
    float: right;
    padding: 5px 0;
    width: 50%;
}
.benefits .saraiva-plus .plus{
    float: right;
    width: 95%;
}
.benefits .saraiva-plus .plus img{
    float: left;
    width: 56px;
}
.benefits .saraiva-plus .plus h2{
    font-size: 13px;
}
.benefits .saraiva-plus .plus p {
    font-size: 11px;
}
/* ======== // Saraiva Plus ========= */
/* ======== // Benefits  ========= */

/* ======== Footer  ========= */

/* ======== Payment  ========= */
footer {
    width: 100%;
    float: left;
}
footer .payment{
    float: left;
    width: 33%;
    padding: 20px 0 0 50px;
}
footer .payment p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #818181;
    padding: 50px 0 20px 0;
}
footer .payment .partners {
    float: left;
    padding: 0 20px;
}
footer .payment img {
    float: left;
    width: 43px;
    margin-left: 10px;
}
/* ======== // Payment  ========= */
footer .secure-site{
    float: left;
    width: 33%;
    padding: 20px 70px 0 50px;
}
footer .secure-site p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #818181;
    padding: 50px 52px 20px 0;
}
footer .secure-site img{
    width: 80px;
    margin-left: 50x;
    display: inline;
}
footer .socials{
    float: left;
    width: 33%;
    padding: 20px 0 0 50px;
    min-height: 242px;
}
footer .socials p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #818181;
    padding: 50px 100px 40px 0;
}
footer .socials img{
    float: left;
    margin-left: 10px;
    width: 40px;
}
.bloco-footer {
    float: left;
    width: 25%;
    min-height: 300px;

}
.box-radius {
    float: left;
    width: 100%;
}
.box-radius .col-radius{
    width: 23%;
    border-radius: 10px;
    float: left;
    background-color: #efefef;
    margin-left: 20px;
    min-height: 150px;
}
.box-radius .col-radius img{
    width: 55px;
    margin: 5% 0 1% 40%;
}
.box-radius .col-radius h1{
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
    color: #24282b;
}
.box-radius .col-radius p{
    font-size: 13px;
    color: #7b7b7b;
    padding: 0 60px;
    text-align: center;
}
.box-radius .col-radius:hover{
    background-color: #ccc;
    cursor: pointer;
}
.box-txt {
    float: left;
    width: 100%;
}
.box-txt .bloc-txt{
    float: left;
    width: 20%;
    width: 23%;
    border-radius: 10px;
    margin:20px 0 0 20px;
}
.box-txt .bloc-txt h1 {
    font-size: 20px;
    color: #24282b;
    font-weight: lighter;
    text-align: justify;
}
.box-txt .bloc-txt p{
    font-size: 12px;
    color: #7b7b7b;
    padding: 10px 0 5px 0;
    text-align: justify;

}
.box-txt .bloc-txt h2{
    font-size: 14px;
    color: #24282b;
    font-weight: lighter;
}
.box-txt .bloc-txt a{
    float: left;
    width: 100%;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 12px;
    padding: 10px 0 5px 0;

}
.box-txt .bloc-txt a:hover {
    text-decoration: underline;
}
.box-txt .bloc-txt span p{
    font-size: 10px;
    font-weight: lighter;
    padding: 30px 25px 0 0;
    text-align: justify;
    color: #24282b;
}
.copyright {
    width: 100%;
    padding: 70px 0;
    float: left;
    text-align: center;
    font-size: 9px;
    color: #24282b;
}

/* ======== // Footer  ========= */