* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.menu-item-bold{
    font-weight: bold !important;
    text-transform: uppercase;
}
/* =========== Presets =========== */

/* =========== Header =========== */
header{
    float: left;
    width: 100%;
}
/* =========== Message From Top =========== */
header .msg-top {
    background-color: rgb(64, 64, 64);
    float: left;
    width: 100%;
}
header .msg-top picture{
    float: left;
    width: 100%;
}
header .msg-top picture source, img{
    display: block;
    margin: 0 auto;
}
/* =========  // Message From Top ========= */

/* =========  Search Bar ========= */
header .search{
    background-color: #fd0;
    float: left;
    width: 100%;
}
/* =========  Search Logo ========= */
header .search .logo-top{
    float: left;
    padding: 1% 1.5% 1% 0.5%;
    width: 16%;
}
header .search .logo-top a{
    float: left;
}
header .search .logo-top a img{
    width: 100%;
}
/* ========= // Search Logo ========= */

/* ========= Search ========= */
header .search .search-bar{
    float: left;
    width: 46%;
}
header .search .search-bar .search-txt{
    float: left;
    position: relative;
    width: 100%;
}
header .search .search-bar .search-txt input{
    border: none;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    margin: 2% 0 2%;
    padding: 10px 0 10px 10px;
    width: 100%;
}

header .search .search-bar .search-txt span{
    position: absolute;
    top: 30%;
    right: -1%;
}
header .search .search-bar .search-txt span img{
    width: 40%;
}
/* ========= // Search ========= */

/* ========= Search Links ========= */
header .search nav{
    float: left;
    width:38%;
}
header .search nav ul{
    float: left;
    width: 100%;
}
header .search nav ul .img-avatar{
    float: left; 
    width: 70%;
}
header .search nav ul .img-avatar img{
    float: left;
    margin: 5% 0 0 30%;
    width: 8%;
}
header .search nav ul .img-avatar span a {
    color: black;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    margin: 5% 0 0 2%;
    text-decoration: none;
    width: calc(93% - 70%);
}
header .search nav ul .img-heart{
    float: left; 
    width: 15%;
}
header .search nav ul .img-heart img{
    float: right;
    margin: 20% 25% 0 0 ;
    width: 35%;
}
header .search nav ul .img-car{
    float: right; 
    width: 15%;
}
header .search nav ul .img-car img{
    float: right;
    margin: 20% 30% 0 0 ;
    width: 35%;
}
/* ========= // Search Links ========= */

/* =========  Main Menu ========= */
.main-menu {
    float: left;
    margin-left: 10px;
    width: calc(100% - 10px);
}
.main-menu .menu-dropdown{
    float: left;
    position: relative;    
    width: 18%;
    z-index: 2;
}
.main-menu .menu-dropdown .departments{
    background-color: #efefef;
    float: left;
    text-decoration: none;
    width: 100%;
}
.main-menu .menu-dropdown:hover ul{
    display: block;
}
.main-menu .menu-dropdown .departments p {
    background-color: #efefef;
    color: #24282b;
    display: block;
    font-family: sans-serif;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    padding: 15px;
    text-align: center;
}
.main-menu .menu-dropdown .departments img {
    float: left;
    margin: 20px 0 0 20px;
    width: 18px;
}
.main-menu .menu-dropdown .icon-menu {
    float: left;
    height: 26px;
    margin: 20px 0 0 10px;   
    width: 30px;
}
.main-menu .menu-dropdown .line-menu {
    float: left;
    height: 26px;
    margin: 14px 0 0 10px;
    width: 30px;
}
.main-menu .menu-dropdown .line-icon {
    background-color: #14171c;
    float: left;
    height: 1px;
    margin-top: -2px;
    width: 26px;
}
.main-menu .menu-dropdown .lines-icon{
    background-color:  #14171c;
    float: left;
    height: 0.8px;
    margin-top: 7px;
    width: 26px;
}
.main-menu .menu-dropdown .sub-menu{
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
.main-menu .menu-dropdown .sub-menu .sub-title{
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    float: left;
    font-size: 12px;
    width: 100%;
}

.main-menu .menu-dropdown:hover .sub-menu .sub-title:hover div{
    display: block;
}
.main-menu .menu-dropdown .sub-menu .sub-title p{
    font-size: 12px;
    padding: 10px;
}
.main-menu .menu-dropdown .sub-menu .sub-title:hover{
    background-color: #efefef;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items{
    background-color: #efefef;
    display: none;
    float: left;
    left: 100%;
    min-width: 1024px;
    position: absolute;
    top: 0;
} 
.main-menu .menu-dropdown .sub-menu .sub-title .col-items span .items-title{
    color: #1592e6;
    font-size: 15px;
    font-weight: bold;
    padding: 30px 0 20px 15px;
    text-decoration: none;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items span .items-title:hover{
    text-decoration: underline;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul{
    background-color: #efefef;
    float: left;
    height: 318px;
    position: relative;
    top: 0;
    width: 19.5%;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li{
    background-color: transparent;
    border: none;
    padding: 7px 0 0 15px;
    text-align: left;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a{
    color: #1592e6;
    font-size: 8px;
    font-weight: normal;
    text-decoration:none;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a:hover{
    color: #24282b;
    text-decoration: underline;
}
.main-menu .menu-dropdown .sub-menu .sub-title .col-items ul li a p{
    color: #24282b;
    font-size: 11px;
    font-weight: lighter;
    padding: 0;
}
.main-menu .menu-dropdown .sub-menu .menu-ad{
    float: left;
    width: 20%;
}
.main-menu .menu-dropdown .sub-menu .menu-ad a{
    float: left;
    margin-top: 10px;
}
.main-menu .menu-dropdown .sub-menu .menu-ad a img{
    margin: 0;
    width: 100%;
}
.main-menu .menu-nav{
    float: left;
    width: 82%;
}
.main-menu .menu-nav .nav-left{
    float: left;
    width: 50%;
}
.main-menu .menu-nav .nav-left li{
    float: left;
    width: 15%;
}
.main-menu .menu-nav .nav-left li a{
    color: #24282b;
    display: block;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding: 26% 0;
    text-decoration: none;
}
.main-menu .menu-nav .nav-left li a:hover{
    text-decoration: underline;
}
.main-menu .menu-nav .nav-right{
    float: left;
    width: 50%;
}
.main-menu .menu-nav .nav-right ul{
    float: right;
    width: 48%;
}
.main-menu .menu-nav .nav-right li{
    float: left;
    margin-top: 6%;
}
.main-menu .menu-nav .nav-right li a{
    color: #646464;
    display: block;
    float: left;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.main-menu .menu-nav .nav-right .bullet:before{
    background-color: #d5d5d5;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 4px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 4px;
}
.main-menu .menu-nav .nav-right li a:hover{
    text-decoration: underline;
}

/* ========= // Main Menu ========= */
/* =========  // Search Bar ========= */

/* ========= // Header ========= */